#payload h1 {
    padding-right: 35%;
    color: white;
}

#payload #calendar {
    align-content: center;
    align-self: center;
    padding-top: 10px;
}

#payload #heading {
    font-size: 48px;
    align-content: center;
    padding-left: 35%;
    margin-top: 100px;
}

#payload .blanktext {
    color: black;
}

#payload #main {
    text-align: center;
}
