#payload #logoImage {
    /*float: left;*/
    /*padding-top: 20px;*/
    /*padding-left: 0;*/
    /*margin-left: 17%;*/
    zoom: 50%;
}

#payload h1 {
    padding-right: 35%;
    color: white;
}

#payload #heading {
    font-size: 48px;
    align-content: center;
    padding-left: 35%;
    margin-top: 100px;
}

#payload #intro {
    padding-top: 5%;
    left: 50%;
    right: 50%;
    padding-bottom: 15%;
    padding-right: 0;
}
