<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pryaxis Jump | The Magi</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="small-12 medium-6 small-centered columns text-center">
        <h3><a href="/"><img src="/img/pryaxis.svg" style="height: 48px" /></a> <small>Pryaxis CyberPatriot 9 Projections</small></h3>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 small-12 small-centered columns">
        <p class="text-center">Select a division to view.</p>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 small-12 small-centered columns">
        <a href="/open/" class="button expand radius success">Open Division</a><br />
        <a href="/open?tier=Platinum" class="button expand radius success">Open Division (Platinum only)</a><br />
        <a href="/all-service/" class="button expand radius info">All Service Division</a><br />
        <a href="/all-service?tier=Platinum" class="button expand radius info">All Service Division (Platinum only)</a><br />
        <a href="/ms/" class="button expand radius">Middle School</a><br />
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-1 small-centered columns">
        <a href="#" data-reveal-id="secrets" class="button tiny info expand radius">Secrets</a>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 small-centered columns">
        <p class="text-center">This service is <strong>not an official CyberPatriot service</strong>.</p>
        <p class="text-center"><strong>Do not inquire to CPOC</strong> for help using this service.</p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p class="text-right"><small>Powered by Jump. <a href="https://jump.software/humans.txt">Love from Littleton</a>. Need help? Email <a href="mailto:concierge@jump.software">concierge@jump.software</a>. <a href="https://twitter.com/pryaxis">Follow us on Twitter</a>.</small></p>
      </div>
    </div>

    <div class="reveal-modal" id="secrets" data-reveal>
      <h2>Secrets</h2>
      <ol>
        <li><kbd>magi.jump.software/team/teamid</kbd> will display only that team's stats.</li>
        <li><kbd>magi.jump.software/teams/teamid,teamid,teamid</kbd> will display specific team statistics.</li>
        <li><kbd>magi.jump.software/Location/division</kbd> will display the location code's divisions. E.g. <kbd>/Colorado/open</kbd></li>
        <li><kbd>magi.jump.software/Location_with_space/division</kbd> will display that location with spaces in the middle. E.g. <kbd>/New_Jersey/open</kbd></li>
        <li><kbd>magi.jump.software/Location/division/Tier</kbd> will display that location's scores with only the specified tier. E.g. <kbd>/Colorado/open/Platinum</kbd></li>
        <li><kbd>magi.jump.software/all</kbd> will display all service and open division at the same time.</li>
        <li><kbd>magi.jump.software/division?tier=tier</kbd> will display only that division and tier combination. E.g. <kbd>magi.jump.software/open?tier=Platinum</kbd></li>
        <li><kbd>magi.jump.software/best</kbd> will display only teams that have a chance of going to nationals.</li>
        <li><kbd>magi.jump.software/stars</kbd> will disply only teams that have a star next to them.</li>
        <li><img src="/img/clock.png" /> = Official CyberPatriot warning that competition time has been exceeded.</li>
        <li><img src="/img/error.png" /> = Official CyberPatriot warning that multiple instances of the same image were open simultaneously.</li>
        <li><img src="/img/star.png" /> = Team has a star next to it.</li>
      </ol>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47250677-2', 'auto');
      ga('send', 'pageview');

      $(document).foundation();

    </script>
  </body>
</html>
